<h1 class="font-bold text-2xl mb-12">Subgroups</h1>

<div class="grid grid-cols-2">
  <% @subgroups.each do |subgroup| %>

  <ul class="flex flex-col mb-8 bg-gray-50 p-8 w-3/5 border border-gray-50 rounded-2xl">
    <li class="font-bold mb-4 text-blue-600 hover:text-blue-400 active:text-blue-900">
      <%= link_to subgroup.name, subgroup_path(subgroup) %>
    </li>
    <% if subgroup.members.blank? %>
      <li class="pl-4">
        No Active Members
      </li>
      <% else %>
        <% subgroup.members.order(position_id: :asc).each do |member| %>
        <li class="pl-4">
          <span class="font-bold"><%= link_to member.full_name, member_path(member) %></span>
          <span class="italic"> - <%= link_to member.role, member_path(member) %></span>
        </li>
        <% end %>
    <% end %>
  </ul>
  <% end %>
</div>