.pending-users,
.filters {
  transition: transform 500ms ease;
  transform-origin: top center;
  transform: scaley(0);
}

.retract {
  transform: scaley(0);
}

.expand {
  transform: scaley(1);
}

.nav-btn {
  transition: transform 250ms ease;
}

.nav-btn:hover {
  transform: scale(1.2);
}

.nav-btn:active {
  color: black;
}
